.wrapperSecondaryPage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  background-image: url("./../../svg/fon2page.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  .headerSecondaryNamePage {
    position: absolute;
    top: 3%;
    right: 580px;
    font-size: 22px;
    font-weight: 500;
  }

  .headerSvgIcon {
    height: 8%;
    position: absolute;
    top: 3%;
    right: 10%;
    cursor: pointer;
  }
}
